<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="{{url_for('static', filename='Assets/icon.png')}}" />

    <!-- <script src="{{url_for('static', filename='utils/tabContent.js')}}"></script> -->
    <script>
      const TravelIQGlobal = {};
    </script>

    <link
      href="{{url_for('static', filename='styles.css')}}"
      rel="stylesheet"
    />
    <script type="module" src="/static/main.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Acme&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
  </head>

  <title> TravelIQ</title>

  <body>
    <header id="header"> </header>

    <main class="mainArea">
      <section class="sideBar" id="left-sidebar"> </section>

      <section class="contentArea" id="tabContent"> </section>
      <p id="selectTrip" hidden>Please select a trip above to get started</p>
      <div id="noTrips" hidden>
        <div class="row">
          <div class="col"></div>
          <div class="col-6 centered">
            <div id="noTrips">
              <div class="headline">
                <h1 class="centered-text">
                  You Have Not Created Any Trips Yet</h1
                >
                <a type="button" href="/app/createTrip" class="btn">
                  Create Your First One Today
                </a>
                <br />
              </div>

              <img
                src="{{url_for('static', filename='Assets/travel_search.png')}}"
                style="width: 400px; margin-top: 30px"
              />
            </div>
          </div>
          <div class="col"></div>
        </div>
      </div>
      <aside id="hotelDetailView"></aside>
    </main>
  </body>
</html>
