{% extends 'app/nav.html' %}
{%block title%} TraveIQ {% endblock %}

{% block content %}

{% if trips|length == 0 %}
<script>
    function formToggle(){
        $('#noTrips').toggle()
        $('#createTrips').toggle()
    }
</script>
<div class="container  ">
    <div class="row">
        <div class="col"></div>
        <div class="col-6 centered">
            <div id ="noTrips">
                <div class="headline">
                        <h1 class='centered-text'> You Have Not Created Any Trips Yet</h1>
                        <br>
                        
                </div>
                
                <p class='centered-text'>
                    <img src="{{url_for('static', filename='Assets/travel_search.png')}}" style="width: 400px">
                    <button type="button" onclick='formToggle()' class="btn btn-outline-primary headline">
                            Create Your First One Today
                    </button>
                </p>
            </div>

            <!-- form -->
            <form  method="post" style="display: none" id='createTrips' action="{{url_for('iq.create_trip')}}">
                <h1 >New Trip</h1> 
                <div class="form-group">
                  <label for="name">Trip Name</label>
                  <input class="form-control" required name="TName" aria-describedby="emailHelp" placeholder="eg. 'Trip to Italy'">

                </div>
                <div class="form-group">
                  <label for="StartDate">Trip Start Date</label>
                  <input type="date" required class="form-control" name="TStart">
                </div>
                <div class="form-group">
                        <label for="StartDate">Trip End Date</label>
                        <input type="date" required class="form-control" name="TEnd">
                </div>
                <div class="form-group">
                        <label for="Description">Description</label>
                        <textarea class="form-control" name="TDescription"></textarea>
                </div>
                <button type="submit" name="login" class="btn btn-primary">Create</button>
                <button type="button" onclick="formToggle()" class="btn btn-primary">Cancel</button>
            </form>

            
            
        </div >
        <div class="col"></div>
    </div>
</div>
{% else %}

  <div class="row h-100">
      <div class="col-3 sideBar border-right">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-destinations-tab" data-toggle="pill" href="#v-pills-destinations" role="tab" aria-controls="v-pills-destinations" aria-selected="true">Destinations</a>
          <a class="nav-link " id="v-pills-hotels-tab" data-toggle="pill" href="#v-pills-hotels" role="tab" aria-controls="v-pills-hotels" aria-selected="true">Hotels</a>
          <a class="nav-link" id="v-pills-transportation-tab" data-toggle="pill" href="#v-pills-transportation" role="tab" aria-controls="v-pills-transportation" aria-selected="false">Transportation</a>
          <a class="nav-link" id="v-pills-restaurants-tab" data-toggle="pill" href="#v-pills-restaurants" role="tab" aria-controls="v-pills-restaurants" aria-selected="false">Restaurants</a>
          <a class="nav-link" id="v-pills-flights-tab" data-toggle="pill" href="#v-pills-flights" role="tab" aria-controls="v-pills-flights" aria-selected="false">Flights</a>
          
        </div>
      </div>

        <div class="tab-content col-9" id="v-pills-tabContent">
          <div  class="tab-pane fade show active" id="v-pills-destinations" role="tabpanel" aria-labelledby="v-pills-destinations-tab">
                    
            <div>
              <form class="sideways" method="POST" action="{{url_for('iq.create_dest')}}">
                
                    <label  class="sideways" for="name">Destination</label>
                    <input class="sideways"   name="DName" aria-describedby="emailHelp" placeholder="eg. 'Florence'">
                    <button class="sideways" name ="newDest" type="submit">Submit</button>
                

              </form>
            </div>  
            
            <table>
              <tr>
                  <th>Name</th>
              </tr>
              {% for dest in dests %}
              <tr>
                <td>
                  {{dest.name}}
                </td>
              {% endfor %}
              </tr>
              
            
        
            </table>
          </div>

          <div class="tab-pane fade" id="v-pills-hotels" role="tabpanel" aria-labelledby="v-pills-hotels-tab">TODO</div>
          <div class="tab-pane fade" id="v-pills-transportation" role="tabpanel" aria-labelledby="v-pills-transportation-tab">trans</div>
          <div class="tab-pane fade" id="v-pills-restaurants" role="tabpanel" aria-labelledby="v-pills-restaurants-tab">rest</div>
          <div class="tab-pane fade" id="v-pills-flights" role="tabpanel" aria-labelledby="v-pills-flights-tab">fl</div>
        </div>
      </div>
    </div>

{% endif %}

{% endblock %}