h1, h3, h4, p, a {
    font-family: 'Anton', sans-serif;
    margin: 0px
}

a {
    color: black
}

.sideways {
    float: left;
    display: inline;
    max-width: 30%
}
#v-pills-tabContent {
    padding-top: 20px
}
#nav-bar {
    padding: 10px 10px 0px 10px
}
nav {
    box-shadow: 5px 5px 10px #c6c6c6;
    /* padding-top: 10px; */
    padding-left: 30px;
    z-index: +1
}

/* right now reffering to logout link */
.nav-right {
    float: right;
    color: black
}

.nav-left {
    display: inline
}

.form {
    margin: 20% ;
    padding: 10%;

    border-color: #0675bf;
    box-shadow: 2px 2px 20px #c6c6c6;
    background-color: #ebf7ff
}
.welcome-story {
    margin: 10% 3% 0% 10%;
    
}

.welcome-picture {
    width: 110%;

}

.centered-text {
    text-align: center;
   
} 

.headline {
    margin-top: 30px
}

.sideBar {
    background-color: #F8F9FA;
    height: 100%;
    margin-left: 0;
    padding-top: 20px


}