<!DOCTYPE html style="heigh:100%">
<head>
  <link rel="icon" href="{{url_for('static', filename='Assets/icon.png')}}" />
  <script>
    var loggedIn = false;
    {% if g.user %}
        loggedIn=true;
    {% endif %}
  </script>

  <link href="{{url_for('static', filename='styles.css')}}" rel="stylesheet" />

  <link
    href="https://fonts.googleapis.com/css?family=Acme&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
    crossorigin="anonymous"
  />
</head>
<header>
  <nav id="nav-bar" class="navbar nav-empty navbar-expand-sm">
    <a href='{{url_for("iq.iqPage")}}'
      ><img
        src="{{url_for('static', filename='Assets/Logo_Text_200.png')}}"
        style="width: 150px"
    /></a>

    {%block nav %} {% endblock %}
  </nav>
  {% for message in get_flashed_messages() %}
  <div class="flash alert alert-primary" data-dismiss="alert" role="alert"
    >{{ message }}</div
  >
  {% endfor %}
</header>
<title> {% block title %} {% endblock %}</title>
<body class="h-100" style="height: 100%">
  {% block content %}{% endblock %}
</body>
